.findButton{
    position: fixed;
    top: 70vh;
}

.backdrop{
    position: fixed;
    top: 40vh;
    background-color: blueviolet;
    height: 200px;
    width: 500px;
}

.cityInput{
    position: fixed;
    background-color: aqua;
    top: 40vh;
    width: 300px;
    height: 3vh;
}

.searchButton{
    position: fixed;
    right: 0;
    top: 0;
}