.findButton{
    text-align: center;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    outline: 2.5px solid rgb(19, 19, 35);
    transition: outline-offset 0.4s ease-in-out;
}

.findButton:hover{
    outline-offset: 3px;
}

.backdrop{
    display: flex;
    position: absolute;
    bottom: 1.5vh;
    align-items: center;
    justify-items: flex-start;
    background-color: rgba(255, 255, 255, 0.657);
    border-radius: 30px;
    justify-content: space-around;
    height: 150px;
    width: 80%;
    margin-bottom: 12px;
    z-index: 1;
}


@media screen and (min-width: 950px) {
    .backdrop{
        width: 40%;
    }
}

.cityInput{
    background-color: rgba(229, 255, 0, 0.103);
    border: 2px solid rgb(19, 19, 35);
    border-radius: 10px;
    width: 50%;
    height: 4vh;
}

.searchButton{
    background-color: transparent;
    background-image: url('https://cdn-icons-png.flaticon.com/512/126/126474.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    right: 5px;
    top: 5px;
    transition: 0.5s ease-in-out;
}

.searchButton:hover{
    width: 50px;
    height: 50px;
}