#root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: auto;
    min-height: 700px;
}

.greeting{
    position: absolute;
    font-size: 300%;
    text-align: center;
    top: 25px;
}